{
  email julianvmodesto@gmail.com
  http_port {$PORT}
  auto_https off
}

:{$PORT} {
  @redir_hosts {
    host julianvmodesto.dev www.julianvmodesto.dev julianmodesto.com www.julianmodesto.com julianvmodesto.com
  }
  redir @redir_hosts https://www.julianvmodesto.com{uri}

  root * /site
  file_server
  
  rewrite /now /blog/now/index.html
  # try_files is a rewrite rule
  try_files {path} {path}/
  
  encode zstd gzip
  header Cache-Control max-age=3600

  header {
    # disable clients from sniffing the media type
    X-Content-Type-Options nosniff
	
    # clickjacking protection
    X-Frame-Options DENY

    # keep referrer data off of HTTP connections
    Referrer-Policy no-referrer-when-downgrade
  }
  
  log {
    output stdout
  }
}

:8888 {
  respond / 200
  log {
    output discard
  }
}
