*.julianmodesto.com:80 {
  redir https://www.julianvmodesto.com
}

julianmodesto.com:80 {
  redir https://www.julianvmodesto.com
}

julianvmodesto.com:80 {
  redir https://www.julianvmodesto.com
}

*.julianvmodesto.com:80 {
  tls off

  root * /site
  file_server

  encode gzip
}

:8888 {
  respond / 200
}
