{
  email julianvmodesto@gmail.com
  http_port {$PORT}
  auto_https off
}

:{$PORT} {
  root * /site
  file_server

  try_files {path}.html {path}

  redir /blog/categories /blog/categories/
  redir /blog/page /blog/page/
  redir /blog/tags /blog/tags/
  redir /blog /blog/

  encode zstd gzip

  log {
    output stdout
  }

  header Cache-Control max-age=3600

  header {
    # disable clients from sniffing the media type
    X-Content-Type-Options nosniff
	
    # clickjacking protection
    X-Frame-Options DENY

    # keep referrer data off of HTTP connections
    Referrer-Policy no-referrer-when-downgrade
  }

  @redir_hosts {
    host julianvmodesto.dev www.julianvmodesto.dev julianmodesto.com www.julianmodesto.com julianvmodesto.com
  }
  redir @redir_hosts https://www.julianvmodesto.com{uri}
}

:8888 {
  respond / 200
  log {
    output discard
  }
}
